body {
	background-color: #d2dae2;
	margin: 0;
}

h1 {
	background-color: #079992;
	font-family: "Lilita One", cursive;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 110px;
}

button {
	border: solid white;
	border-radius: 1rem;
	display: block;
	cursor: pointer;
	font-size: 55px;
	text-align: center;
}

/* ul {
	margin: 0;
	padding: 0;
} */
.list {
	list-style: none;
	margin-top: 250px;
	padding: 0;
}

.list-item {
	list-style: none;
	border: solid black 2px;
	border-radius: 0.5rem;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 170px;
	height: 71px;
	text-align: center;
	font-size: 25px;
	padding-top: 15px;
}

.fizz {
	background: #78e08f;
	color: #143b1d;
}

.buzz {
	background: #fa983a;
	color: #683c13;
}

.fizz-buzz {
	background: #079992;
	color: #073331;
}

.filter {
	position: absolute;
	top: 150px;
	right: 25%;
	margin-top: 75px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 150px;
}

.fade-out {
	background: #d2dae2;
	color: #8aa0a0;
}
